.stories-cont {
  height: 10%;
  width: 95%;
  color: red;
  border-radius:1rem;
  background-color: #f2f7fb;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  align-items: center;
}

