.Navbar-cont {
  background-color: #f2f7fb;
  width: 33%;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  border-radius: 0rem 0rem 1rem 1rem;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
} 
.Navbar-icon{
    padding: 0.3rem;
    color: rgb(62, 65, 65);
    border-radius: 0.4rem;
    transition: 300ms;
}
.Navbar-icon:hover{
    background-color: rgb(18, 9, 97);
    color:cyan
}

