.home-cont {
  width: 45%;
  height: auto;
  border: black 2px solid;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 175, 126);
}
